<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
	{% if state is mapping %}
		<h1>States</h1>
	    	<ul>
      			{% for state in states.values()|sort(attribute='name') %}
      				<li>{{ state.id }}: <b>{{ state.name }}</b></li>
      			{% endfor %}
	    	</ul>
	{% elif state is defined %}
		<H1>State: {{ state.name }}</H1>
		<H3>Cities:</H3>
		<UL>
			{% for city in state.cities|sort(attribute="name") %}
				<LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
			{% endfor %}
		</UL>
	{% else %}
		<H1>Not found!</H1>
	{% endif %}
    </body>
</html>
